<a href="https://colab.research.google.com/github/spur19/ML_Term_Project/blob/main/ML_Term_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Preprocessing

In [ ]:
import pandas as pd
df = pd.read_fwf("crx.data")

In [ ]:
# Raw String Data
df

           b,30.83,0,u,g,w,v,1.25,t,t,01,f,g,00202,0,+
0     a,58.67,4.46,u,g,q,h,3.04,t,t,06,f,g,00043,560,+
1        a,24.50,0.5,u,g,q,h,1.5,t,f,0,f,g,00280,824,+
2       b,27.83,1.54,u,g,w,v,3.75,t,t,05,t,g,00100,3,+
3       b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
4            b,32.08,4,u,g,m,v,2.5,t,f,0,t,g,00360,0,+
..                                                 ...
684    b,21.08,10.085,y,p,e,h,1.25,f,f,0,f,g,00260,0,-
685      a,22.67,0.75,u,g,c,v,2,f,t,02,t,g,00200,394,-
686      a,25.25,13.5,y,p,ff,ff,2,f,t,01,t,g,00200,1,-
687  b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,00280,750,-
688     b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,00000,0,-

[689 rows x 1 columns]

In [ ]:
# Renaming column
df.columns = ['RawStringData']

In [ ]:
# Adding instance lost due to renaming column
df.loc[len(df.index)] = 'b,30.83,0,u,g,w,v,1.25,t,t,01,f,g,00202,0,+'

In [ ]:
df

                                         RawStringData
0     a,58.67,4.46,u,g,q,h,3.04,t,t,06,f,g,00043,560,+
1        a,24.50,0.5,u,g,q,h,1.5,t,f,0,f,g,00280,824,+
2       b,27.83,1.54,u,g,w,v,3.75,t,t,05,t,g,00100,3,+
3       b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
4            b,32.08,4,u,g,m,v,2.5,t,f,0,t,g,00360,0,+
..                                                 ...
685      a,22.67,0.75,u,g,c,v,2,f,t,02,t,g,00200,394,-
686      a,25.25,13.5,y,p,ff,ff,2,f,t,01,t,g,00200,1,-
687  b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,00280,750,-
688     b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,00000,0,-
689        b,30.83,0,u,g,w,v,1.25,t,t,01,f,g,00202,0,+

[690 rows x 1 columns]

In [ ]:
# Renaming columns
col_names = ["A" + str(i) for i in range(1, 16)]
col_names += ["Accept"]
col_names

['A1',
 'A2',
 'A3',
 'A4',
 'A5',
 'A6',
 'A7',
 'A8',
 'A9',
 'A10',
 'A11',
 'A12',
 'A13',
 'A14',
 'A15',
 'Accept']

In [ ]:
df[col_names] = df['RawStringData'].str.split(',',expand=True)
df

,RawStringData,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,Accept
0,"a,58.67,4.46,u,g,q,h,3.04,t,t,06,f,g,00043,560,+",a,58.67,4.46,u,g,q,h,3.04,t,t,06,f,g,00043,560,+
1,"a,24.50,0.5,u,g,q,h,1.5,t,f,0,f,g,00280,824,+",a,24.50,0.5,u,g,q,h,1.5,t,f,0,f,g,00280,824,+
2,"b,27.83,1.54,u,g,w,v,3.75,t,t,05,t,g,00100,3,+",b,27.83,1.54,u,g,w,v,3.75,t,t,05,t,g,00100,3,+
3,"b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+",b,20.17,5.625,u,g,w,v,1.71,t,f,0,f,s,00120,0,+
4,"b,32.08,4,u,g,m,v,2.5,t,f,0,t,g,00360,0,+",b,32.08,4,u,g,m,v,2.5,t,f,0,t,g,00360,0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,"a,22.67,0.75,u,g,c,v,2,f,t,02,t,g,00200,394,-",a,22.67,0.75,u,g,c,v,2,f,t,02,t,g,00200,394,-
686,"a,25.25,13.5,y,p,ff,ff,2,f,t,01,t,g,00200,1,-",a,25.25,13.5,y,p,ff,ff,2,f,t,01,t,g,00200,1,-
687,"b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,00280,750,-",b,17.92,0.205,u,g,aa,v,0.04,f,f,0,f,g,00280,750,-
688,"b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,00000,0,-",b,35.00,3.375,u,g,c,h,8.29,f,f,0,t,g,00000,0,-
689,"b,30.83,0,u,g,w,v,1.25,t,t,01,f,g,00202,0,+",b,30.83,0,u,g,w,v,1.25,t,t,01,f,g,00202,0,+

In [ ]:
# Discarding features with continuous data or null values
df = df.drop(['RawStringData', 'A2', 'A3', 'A8', 'A11', 'A14', 'A15'], axis=1)

In [ ]:
# Renaming features
df.columns = ["A" + str(i) for i in range(1, 10)] + ["Accept"]
df

    A1 A2 A3  A4  A5 A6 A7 A8 A9 Accept
0    a  u  g   q   h  t  t  f  g      +
1    a  u  g   q   h  t  f  f  g      +
2    b  u  g   w   v  t  t  t  g      +
3    b  u  g   w   v  t  f  f  s      +
4    b  u  g   m   v  t  f  t  g      +
..  .. .. ..  ..  .. .. .. .. ..    ...
685  a  u  g   c   v  f  t  t  g      -
686  a  y  p  ff  ff  f  t  t  g      -
687  b  u  g  aa   v  f  f  f  g      -
688  b  u  g   c   h  f  f  t  g      -
689  b  u  g   w   v  t  t  f  g      +

[690 rows x 10 columns]

In [ ]:
df = df.dropna()

In [ ]:
# Saving preprocessed data
df.to_csv('preprocessed_data.csv', index=False)

## KNN Classifier

In [ ]:
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv('preprocessed_data.csv')
X = df.drop(['Accept'], axis = 1)
y = df[['Accept']]


# One-hot encoding for categorical data and labels
X_encoded_data = pd.get_dummies(X, columns = ['A1', 'A2','A3','A4','A5','A6','A7','A8','A9'])
y_encoded_data = pd.get_dummies(y, columns = ['Accept'])

# Splitting into train and test data
X_train, X_test, y_train, y_test = train_test_split(
        X_encoded_data, y_encoded_data, test_size=0.2, random_state=42
    )

In [ ]:
# DataFrame for storing results
df_knn = pd.DataFrame(columns=['k', 'Accuracy'])

In [ ]:
# Iterating over odd values of k 
for k in range(1,21,2):
  Classifier = KNeighborsClassifier(n_neighbors= k)
  Classifier.fit(X_train, y_train)
  predictions = Classifier.predict(X_test)
  df_knn.loc[len(df_knn.index)] = [k, accuracy_score(y_test,predictions)]

In [ ]:
df_knn

      k  Accuracy
0   1.0  0.818841
1   3.0  0.855072
2   5.0  0.862319
3   7.0  0.855072
4   9.0  0.862319
5  11.0  0.847826
6  13.0  0.840580
7  15.0  0.840580
8  17.0  0.840580
9  19.0  0.840580

## Distance weighted KNN

In [ ]:
# DataFrame for storing results
df_knn_dist = pd.DataFrame(columns=['k', 'Accuracy'])

In [ ]:
# Iterating over odd values of k 
for i in range(1,21,2):
  Classifier = KNeighborsClassifier(n_neighbors= i, weights='distance')
  Classifier.fit(X_train,y_train)
  predictions = Classifier.predict(X_test)
  df_knn_dist.loc[len(df_knn_dist.index)] = [i, accuracy_score(y_test,predictions)]

In [ ]:
df_knn_dist

      k  Accuracy
0   1.0  0.818841
1   3.0  0.804348
2   5.0  0.789855
3   7.0  0.789855
4   9.0  0.789855
5  11.0  0.782609
6  13.0  0.789855
7  15.0  0.797101
8  17.0  0.797101
9  19.0  0.789855

## Naive Bayes

In [ ]:
from sklearn.naive_bayes import CategoricalNB
import numpy as np
from sklearn.metrics import accuracy_score

In [ ]:
# Changing y_train and y_test to expected input format for sklearn
y_train = (y_train['Accept_+']==1).astype(int)
y_test = (y_test['Accept_+']==1).astype(int)

In [ ]:
# Fit the Naive Bayes classifier on training data
clf = CategoricalNB()
clf.fit(X_train, y_train)

# Making predictions on test data
test_predictions = clf.predict(X_test)

# Making predictions on training data
train_predictions = clf.predict(X_train)

In [ ]:
# DataFrame for storing results
df_nb = pd.DataFrame(columns=['Dataset', 'Accuracy'])
df_nb.loc[0] = ['Training Data', accuracy_score(y_train, train_predictions)] 
df_nb.loc[1] = ['Testing Data', accuracy_score(y_test, test_predictions)]

In [ ]:
df_nb

         Dataset  Accuracy
0  Training Data  0.873188
1   Testing Data  0.833333